<!DOCTYPE html>
<html>
<head>
  <title>Trippin'</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDe45yPUpZy_XZy_Y5Whg6D7aDyE0e-_Ks&sensor=true">
  </script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>

  <nav class="navbar navbar-default" role="navigation">
    <div class="nav-left">
      <%= link_to (fa_icon "home 2x") , root_path, :content => "Home" %>
      <%= link_to (fa_icon "car 2x") , new_ride_path, :content => "Create New Ride" %>
      <div class="navbar-right">
        <% if current_user %>
          <%= link_to current_user.name, user_path(current_user) %>
          <%= link_to 'Log out', logout_path, method: "delete" %>
        <% else %>
          <%= link_to 'Log in', login_path %>
        <% end %>
      </div>
    </div>
  </nav>

<%= yield %>

</body>
</html>
